
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
  min-height: 900px;
}
.loginBtn, .logoutBtn{
  padding: 10px 25px;
    margin-top: 0;

    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 300px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .loginBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .logoutBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  

header {
  background-color: #333;
  color: black;
  padding: 50px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
nav{
  display: flex;
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
  color: black;
}

.favoritesImg{
  height: 35px;
  margin-top:-8px;
  margin-left: 15px;
}

.WelcomeTxt{
  position: absolute;
  top: 50px;
  right: 170px;
  font-size: 20px;
  color: white;
}

.logoutBtn{
  width: 120px;
  position: absolute;
  top: -255px;
  right: 30px;
  align-items: center;
  padding: 6px;
}

.Search {
  width: 50%;
  display: flex;
  margin:  0 auto;
  margin-top: 500px;
  justify-content: center; 
  align-items: center;
  margin-top: 100px;
}

#searchInput {
  width: 70%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

#seacrInput:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.searchBtn {
  height: 55px;
  width: 55px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.searchBtn:hover {
  transform: translateY(-2px);
}

.SearchResults{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin:  0 auto;
  margin-top: 50px;
  justify-content: center; 
  align-items: center; 
}

.searchImgResults {
  height: 175px;
  width: 175px;
  cursor: pointer;
  transition: transform 0.3s;
}

.searchImgResults:hover {
  transform: scale(1.2); 
}

.didYouMean{
  color: blue;
  font-style: italic;
  margin-left: 2px;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 30px;
}

.add{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  background-color: #f0f0f0;
  color:#333;
  border: none;

}
.add:hover {
  transform: scale(1.2); 
}

.heart{
  margin-left: 10px;
  height: 14px;
  margin-left: 4px;
}

a{
  color: white;
  text-decoration: none;
  margin-left: 30px;
}

// // @media (prefers-color-scheme: light) {
// //   :root {
// //     color: #213547;
// //     background-color: #ffffff;
// //   }
// //   a:hover {
// //     color: #747bff;
// //   }
// //   button {
// //     background-color: #f9f9f9;
// //   }
// // } 
